build/
.cache/
.vscode/
*.out
*.so
*.ncu-rep
*.png
*.csv
*.pt
*.pdf
tt.cc
tt.cu
tt.py
a.txt
__pycache__/
moe-gate.json
*-workload-*.txt
*.pkl
*.json.gz
*.txt.bits
*-model_out_norm.json
src/generated/*
log/*
calib/*
calib_bkp/*
qconfigs/*